@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
    font-family: "Manrope";
    font-weight: 500;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CAR SERVICE SECTION */

.car-service-section{
    background-color: #fff;
    padding: 50px 0;
    font-family: 'Manrope', sans-serif;
}
.car-service-section .first-section{
    min-height: 70vh;
    display: flex;
    justify-content: center;
}
.car-service-section .image-section{
    min-height: 70vh;
    width: 36%;
    height: auto;
    background: url(images/car-repair.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.car-service-section .text-section{
    width: 60%;
    min-height: 70vh;
    background-color: #1E1B1B;
    height: auto;
    color: #fff;
    padding: 50px;
}

.car-service-section h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    padding: 20px;
}

.car-service-section p{
    padding: 20px;
    color: #f2f2f2;
    font-size: 15px;
    width: 90%;
    line-height: 26px;
    margin-bottom: 40px;
}

.car-service-section a{
    text-decoration: none;
    background-color: #FF6433;
    color: #fff;
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 10px;
    margin: 50px 30px;
}

/* AUTO DIAGNOSTIC */

.auto-diagnostic{
    background-color: #F5F5F5;
    padding: 80px 0;
    font-family: 'Manrope', sans-serif;
}

.auto-diagnostic .left-hand{
    background-color: #fff;
    width: 50%;
    padding: 40px;

}
.left-hand .tyre img{
    width: 100%;
    height: 49vh;
}

.left-hand h3{
    font-family: 'Manrope';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
  line-height: 140%;
  margin-top: 10px;
}

.left-hand p{
    color: #232536;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.details a{
    text-decoration: none;
    color: #1E1B1B;
    padding-top: 26px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
}
.details img{
    margin-left: 10px;
}


.auto-diagnostic .diagnostics{
    display: grid;
     grid-template-columns: 1fr 1fr;
     gap:15px;
     min-height: 100vh;
     width:50%;
     align-items: center;
     justify-content: center;
     text-align: center;
}

.auto-diagnostic .diagnostics-type{
    background-color:#fff;
    /* margin: 2px; */
    text-align: center;
    padding:40px;
    width: 100%;
    min-height:28vh;
    align-items: center;
    justify-content: center;
    
}

.auto-diagnostic .diagnostics #orangee{
    background-color: #FF6433;
}

.auto-diagnostic .diagnostics-type:hover{
    background-color: #FF6433;
}

/* PROCESS SECTION */

.process-section{
    background-color: #fff;
    padding: 80px 0;
}

.process-section .process-info{
    display: flex;
    margin-bottom: 20px;
}
.process-section h2{
    font-family: 'Manrope', sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
   font-size: 40px;
line-height: 140%;
}

.process-section .left-angle{
    width: 60%;
}

.process-section .left-angle img{
    background-color: #00D289;
    margin-right:10px;
    margin-bottom:10px;
    border-radius: 20px;
    width: 6%;
    padding: 7px;
    font-size: 800;
}

.process-section p{
    /* text-align: center; */
    font-family: 'Manrope', sans-serif;
}

.process-section .right-angle{
    display: flex;
    width: 50%;
}

.process-section .first-img{
    margin-right: 10px;
    
}

.process-section .right-angle img{
    height: 50vh;
}

/* CAR FIX */

.fix-section{
    padding: 10px 0 40px 0;
}

.fix-section img{
    height: 60vh;   
}

.fix-section .car-fix{
    display: flex;
    width: 70%;
}
.fix-section .car-fix img{
    margin-right: 10px;
}

.fix-section .text-area{
    width: 60%;
    min-height: 50vh;
}

.fix-section h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 140%; */
    margin-bottom: 20px;
    color: #1E1B1B;
}

.text-area .sub-head p{
    font-family: 'Manrope', sans-serif;
   font-style: normal;
  font-weight: 500;
   font-size: 17px;
   line-height: 175%;
   color: #232536;
   margin-bottom: 40px;
}

.text-area a{
    text-decoration: none;
    background-color: #FF6433;
    color: #fff;
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 10px;
    /* margin: 50px 30px; */
}



.get-in-touch-section{
        background-color:#1E1B1B ;
        opacity: 0.98;
        padding: 80px 0;
        color: #fff;
        margin-top: 100px;
    }
    
    .get-in-touch-section h2{
        font-family: 'Manrope';
       font-style: normal;
       font-weight: 700;
       font-size: 48px;
    }
    
    .get-in-touch-section .social-media{
        margin-top: 60px;
    }
    .get-in-touch-section .social-media img{
        padding: 0 10px;
    }
    .get-in-touch-section .right-side{
        width: 40%;
    }

    .get-in-touch-section .light{
        color: #fff;
        opacity: 0.6;
        font-family: 'Manrope';
        font-style: normal;
        /* font-weight: 600; */
        font-size: 14px;
        line-height: 175%;
        margin-bottom: 5px;
    }
    
    .get-in-touch-section .bold{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
       line-height: 36px;
       letter-spacing: -0.03em;
       margin-bottom: 5px;
    }
    
    /* FOOTER */
    
    footer{
        background:#000;
        color: #fff;
        padding: 40px 0;
    }
    
    footer .main-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    footer .footer-middle ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer .footer-middle ul li{
        list-style: none;
        padding-left: 50px;
    }
    footer .footer-middle ul a{
        text-decoration: none;
        color: #fff;
    }
    
    footer .copyright p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    } ;
    opacity: 0.98;
    padding: 80px 0;
    color: #fff;
}

.get-in-touch-section h2{
    font-family: 'Manrope';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
}

.get-in-touch-section .social-media{
    margin-top: 60px;
}
.get-in-touch-section .social-media img{
    padding: 0 10px;
}
.get-in-touch-section .right-side{
    color;
}


/* FOOTER */

footer{
    background:#000;
    color: #fff;
    padding: 40px 0;
}

footer .main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-middle ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-middle ul li{
    list-style: none;
    padding-left: 50px;
}
footer .footer-middle ul a{
    text-decoration: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
}

footer .copyright p{
    color:#939191;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}